
*.log
*.mat

/data/
/data/cifar10/
/data/cifar10/cifar-10-batches-py/
/data/SVHN/

/.idea
/.idea/inspectionProfiles
/.idea/misc.xml
/.idea/modules.xml
/.idea/other.xml
/.idea/Rationals-for-ResNets.iml
/.idea/vcs.xml
/.idea/workspace.xml